@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* || RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input, button, textarea {
    font: inherit;
}

/* || VARIABLES */
:root {
    --FF: 'Roboto', sans-serif;
    --FS: clamp(1rem, 2.2vh, 1.5rem);

    /* COLORS */
    --font-color: #202020;
    --h1-color: #E6E6E6;
    --bg-color: #B7B7B7;
    --link-color: #402020;
    --fall-back-green: #1AA96E;
    --green-gradient: linear-gradient(45deg, #1AA96E, #00341F);
    --CTA-gradient: linear-gradient(45deg, #019256, #AEFFDE);
    --shadow-color: #202020aa;
    --card-bg: #D9D9D9;
    --features-bg: #1d1d1d;
    --aboutMe-bg: #FAF8E1;
}

/* || UTILITY CLASSES */
.flex-center-column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.flex-center-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.nowrap {
    text-wrap: nowrap;
}

.marker {
    display: block;
    height: 1px;
    position: absolute;
    top: -4vh;
}

.relative {
    position: relative;
}

/* || GENERAL STYLE */

html {
    scroll-behavior: smooth;
    font-family: var(--FF);
    font-size: var(--FS);
    color: var(--font-color);
    background-color: var(--bg-color);
}

body {
    line-height: 1.4;
}

a {
    text-decoration: none;
    color: var(--link-color);
    font-style: italic;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

h2 {
    text-align: center;
    font-size: 2.5rem;
}

/*////////////////////////////////////////////////////////////////////*/
/*///////////////////////// NAVIGATION MENU //////////////////////////*/
.header {
    position: relative;
}

.menu {
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-image: var(--green-gradient);
    position: absolute;
    transform: translateY(-105%);
    transition: all 0.65s;
    box-shadow: 0px 5px 15px var(--font-color);
}

.showMenu {
    transform: translateX(0%);
}

.menu__ul li {
    text-align: center;
    padding: 5vh;
    list-style-type: none;
}

.menu__ul a {
    color: var(--h1-color);
    font-weight: 500;
    font-size: 1.75rem;
    font-style:normal
}

.menu__ul a:hover {
    text-decoration: none;
}

.menu__btn {
    z-index: 2;
    position: absolute;
    top: 1.5em;
    right: 1.5em;
    width: 50px;
    height: 30px;
    border: none;
    background-color: transparent;
}

.menu__btn:hover {
    cursor: pointer;
}

.menu__icon, .menu__icon::before, .menu__icon::after, .menu__icon-x::before, .menu__icon-x::after {
    width: 48px;
    height: 5px;
    border-radius: 2px;
    background-color: white;
    transform: translateY(0px);
    position: absolute;
    transition: all 0.35s ease-in-out;
}

.menu__icon::before, .menu__icon::after , .menu__icon-x::before, .menu__icon-x::after {
    content: "";
}

.menu__icon::before {
    transform: translate(-24px, -12px);
}

.menu__icon::after {
    transform: translate(-24px, 12px);
}

.menu__icon-x {
    background-color: transparent;
    transform: rotate(180deg);
}

.menu__icon-x::before {
    transform: translateX(-24px) rotate(45deg);
}

.menu__icon-x::after {
    transform: translateX(-24px) rotate(-45deg);
}


/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////////// HERO SECTION ////////////////////////////*/
.hero-bg {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 45vh;
    clip-path: polygon(0 0, 0 100%, 100% 75%, 100% 0);
    background-image: var(--green-gradient);
}

.hero {
    margin-left: max(-9vw, -123px);
    max-width: 80vw;
    min-width: 350px;  
}

.logo {
    width: min(26.5vw, 26.5vh);
    max-width: 300px;
    border-radius: min(3vw, 3vh);
    box-shadow: -5px 5px 5px var(--shadow-color);
}

.title :is(h1, p, a) {
    color: var(--h1-color);
}

.title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    padding: 10vh 0.5em 5vh;
    gap: 0.5em;
}

.h1 {
    font-size: clamp(2.1rem, min(10vh, 6vw), 6rem);
}

.h1__p {
    font-size: clamp(0.75rem, min(3vh, 3vw), 1.75rem);
    text-align: right;
    margin-top: max(-0.5vh, -0.5vw);
    width: 100%;
}

.downloadBtn {
    display: block;
    font-size: clamp(0.85rem, min(3.5vh, 3.5vw), 1.25rem);
    border: min(min(0.65vh, 0.65vw), 5px) solid var(--h1-color);
    padding: 0.4em 0.55em;
    text-align: center;
    border-radius: 6px;
    margin-top: 0.45em;
    font-style: normal;
}

.downloadBtn:hover {
    text-decoration: none;
}

.hero-text {
    background-color: var(--card-bg);
    padding: 1em;
    margin: 0 2em 1em;
    border-radius: 12px;
    box-shadow: -5px 5px 5px var(--shadow-color);
    font-weight: 400;
    text-wrap: pretty;
}

.downloads {
    gap: 1em;
    margin: 2vh 0 5vh;
}

/*///////////////////////////////////////////////////////////////////*/
/*//////////////////////////// APP DEMO ////////////////////////////*/
.demo__h2 {
    /* font-size: clamp(3rem, min(10vh, 8vw), 8rem); */
    font-size: min(10vh, 20vw);
    text-wrap: pretty;
    text-align: center;
    line-height: 1.1;
    margin: 5vh 0 3vh;
}

.demo__p {
    font-weight: 600;
    font-size: 1.1rem;
    text-align: center;
    margin: 0 2em 2em;
}
.widgetIframe {
    width: 230px;
    height: 349.5px;
    border: none;
    box-shadow: -15px 15px 10px var(--shadow-color);
}


/*//////////////////////////// FEATURES ////////////////////////////*/
.features-bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--features-bg);
    clip-path: polygon(0% 10%, 100% 2.5%, 100% 90%, 0% 100%);
    z-index: -1;
}

.features {
    margin-bottom: 1em;
}

.card {
    background-color: var(--card-bg);
    padding: min(5vw, 45px);
    margin: 1em 2em;
    max-width: 700px;
    border-radius: 12px;
    box-shadow: -5px 5px 5px var(--shadow-color);
    font-weight: 500;
    font-size: 1.2rem;
    text-wrap: pretty;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.85em;
    align-items: center;
    justify-content: center;
}

.card__img {
    border-radius: 12px;
    width: 70vw;
    max-width: 600px;
    box-shadow: 0 0 10px var(--shadow-color);

}
/*//////////////////////////// ALADHAN API ////////////////////////////*/
.api {
    gap: 1em;
    font-weight: 500;
    padding: 1em 2em 2em;
}

.api p {
    font-size: 1.25rem;
    text-wrap: pretty;
}

/*//////////////////////////// ABOUT ME ////////////////////////////*/
.aboutMe {
    background-color: var(--aboutMe-bg);
}

.wave {
    width: 100%;
    max-height: 5vh;
    outline: none;
}

.shape-fill {
    fill: var(--bg-color);
}

/*//////////////////////////// GET IN TOUCH ////////////////////////////*/
.polygon {
    width: 100%;
    height: 5vh;
    clip-path: polygon(0% 0%, 0% 80%, 100% 20%, 100% 0%);
    background-color: var(--aboutMe-bg);
    /* position: absolute;
    top: -1vh; */
}

.getInTouch {
    background-color: var(--fall-back-green);
    background-image: var(--CTA-gradient);
}
/*//////////////////////////// FOOTER ////////////////////////////*/
.footer {
    height: 25vh;
    width: 100%;
    padding: 2em;
    text-align: center;
    text-wrap: pretty;
    line-height: 1.5;
    font-size: 1.1rem;
    font-weight: 300;
    color: var(--h1-color);
    background-color: var(--font-color);
}




